<!--
Index 구성 요소

1. 상단 가게 전경사진
  2가지 방식 : 단일 사진 게재, 사진 슬라이드쇼
  - Responsive imege
    <img src="..." class="img-responsive" alt="Responsive image">
  - Carousel
    https://getbootstrap.com/docs/3.3/javascript/
    위 주소의 Carousel 항목 확인

2. 로고 및 가게 이름
  사진 게재 또는 텍스트 입력
  - Logo
  - Happy Monk
  - The world best sea pub
3. 위치 영업시간 문의전화
4. 메뉴 바 ()
  - 메뉴 구성 : Home, MenuGuide, Gallery, Guest Book(필요한가?)
  - 메뉴 위치 : 사진 아래, 이름 아래, 최하단 등
  - Guest Book -> Facebook 페이지로 연결 고려
-->

{% extends "base.html" %}

{% block body %}

<div class="container">
    <div class="col-md-12">
      <div> Index </div>
    </div>
<div>

{% endblock %}
